---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Our Mission">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Mission</Fragment>
      <Fragment slot="desc" class="mt-10">
      
      </Fragment>
    </Sectionhead>

    <figure class="max-w-screen-md mx-auto text-center">
       
      
          <p class="text-4xl font-medium text-gray-800 leading-9">
            To democratise value in cloud by simplify multi-cloud adoption
          </p>
      
      <figcaption class="flex items-center justify-center mt-12 space-x-3 rtl:space-x-reverse">
          <img class="w-12 h-12 rounded-full" src="/assets/lewis-lg.png" alt="profile picture">
          <div class="flex-col items-center ">
              <div class="pe-3 font-medium text-gray-900">Lewis Sheridan</div>
              <div class="ps-3 text-md text-indigo-700 font-semibold ">Founder, Backplane Software Ltd.</div>
          </div>
      </figcaption>
    </figure>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-semibold text-3xl text-gray-800">
        About
      </h2>
      
      
       
          <p class="text-lg leading-relaxed text-slate-500">
            Backplane Software was established in 2023 by Lewis Sheridan. Drawing on his extensive experience with integrating Azure, GCP, and AWS in one of the world's largest global enterprises, Lewis gained unique insights into optimal strategies for adopting, enabling, and governing multi-cloud platforms at an enterprise scale.

            Our flagship project, the Open Source Cloud Abstraction API, offers an extensible, unified API designed to streamline cloud adoption, enablement, and governance for organizations of all sizes.          </p>

    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-semibold text-3xl text-gray-800">
        People. Purpose. Passion.
      </h2>
      
      <p class="text-lg leading-relaxed text-slate-500">
        Backplane is driven by values, and our core values are People, Purpose & Passion. 
        We invest in our people, ensuring we have a culture that is inclusive, safe, and enables our People to achieve their full potential. The primary team key performance indicator is the size of the smile on their faces. 
        At Backplane we have a single mission that gives our people their purpose. And Passion is the joy and energy we bring to fulfil our mission. 
   </p>

   
    </div>
 

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-semibold text-3xl text-gray-800">
        Community
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Backplane is a community-driven project, built by engineers for engineers. It's Open, Free, and our ambition is to develop the Cloud Abstraction API to be the tool in every organisations toolbox for their multi-cloud journeys and donate the project to the Cloud Native Compute Foundation.
   </p>
 
   </div>
   <div class="mx-auto justify-center flex mt-16">
   <p>
    <a href="/careers" class="inline-flex items-center mt-0 px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 ">Join Backplane <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/></svg></a>
   </p>
   </div>
    </div>

  </Container>
</Layout>
