---


import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

---

<Layout title="Community">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Community</Fragment>
      <Fragment slot="desc" class="mt-10">
        Backplane is a community-driven project, supporting Open Source and Cloud Native development.
      </Fragment>
    </Sectionhead>


<div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16 ">

      <div class="flex flex-wrap gap-5">
        <div class="w-48 mx-auto">
          <img src="/assets/platformlogo.svg" />
        </div>
        <div class="mx-auto">
          <p class="text-lg leading-relaxed text-slate-500">
             Backplane's Cloud Abstraction API can help with the development of custom internal developer portals by simplifying integration to a single API. 
          </p>
        </div>
      </div>

      <div class="flex flex-wrap gap-5 mt-10">
        <div class="w-42 mx-auto">
          <img src="/assets/finopsfoundation.svg"  />
        </div>
        <div class="mx-auto">
          <p class="text-lg leading-relaxed text-slate-500">
            The Backplane Cost Extraction Engine effectively performs an extract, transform and load (ETL) pattern. Aligning the schema to FinOps FOCUS specification helps align concerns.
          </p>
        </div>
      </div>

      <div class="flex flex-wrap gap-5 mt-10">
        <div class="w-56 mx-auto">
          <img src="/assets/cncf.png"  />
        </div>
        <div class="mx-auto">
          <p class="text-lg leading-relaxed text-slate-500">
            It is our objective to submit Backplane's Cloud Abstraction API to the CNCF to help promote and further the objects of Cloud Native.
          </p>
        </div>
      </div>
<!-- 
      <div class="flex flex-wrap gap-5 mt-10 mx-auto">
        <div class="w-48 mx-auto">
          <img src="/assets/opentofu.png" />
        </div>
        <div class="mx-auto">
          <p class="text-lg leading-relaxed text-slate-500">
            We support the OpenTofu fork of Terraform enabling the provisioning of cloud resources.
          </p>
        </div>
      </div> -->
 
</div>

   
    
  </Container>
</Layout>
