---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Our Mission">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Roadmap</Fragment>
      <Fragment slot="desc" class="mt-10">
      
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
  
      <p class="text-lg leading-relaxed text-slate-500">
        Backplane started life as a project called Skybridge. Skybridge was a way to 'bridge' multiple clouds together so they could be governed in a single heterogeneous way through a single abstraction API. Simplify the concerns of Cloud Account provisioning and retrieval of Cost, Access and Policy data. The Cloud Abstraction API is now free and open sourced under Backplane.dev, below shows the development of the MVP.
      </p>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
Backplane API Released
      </h2>

   


<ol class="relative border-s border-gray-200 dark:border-gray-700">   
  <li class="mb-10 ms-4 mt-0">
    <div class="absolute w-3 h-3 bg-indigo-700 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
    <time class="mb-1 text-md font-bold leading-none text-indigo-700 dark:text-gray-500">15th July 2024</time>
    <h3 class="text-lg font-semibold text-gray-900 ">Public Preview of MVP
      <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-indigo-700 text-slate-100 px-2 py-1 rounded-md">release candidate</span>

    </h3>
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">Backplane project is released to Platform Engineering community.</p>
    <a href="#" class="inline-flex items-center mt-5 px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">Demo <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
    </svg></a>
</li>   
<li class="mb-10 ms-4 mt-10">
  <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
  <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">June 2024</time>
  <h3 class="text-lg font-semibold text-gray-900 ">Private Previews</h3>
  <p class="text-base font-normal text-gray-500 dark:text-gray-400">Validation of functionality with private preview team.</p>
</li>  
<li class="mb-10 ms-4 mt-10">
  <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
  <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">March 2024</time>
  <h3 class="text-lg font-semibold text-gray-900 ">Cloud Console
    <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-indigo-700 text-slate-100 px-2 py-1 rounded-md">UI</span>
  </h3>
  <p class="text-base font-normal text-gray-500 dark:text-gray-400">API refactored for HTML as part of HATEOAS. Now returns HTMX in addition to JSON.</p>
</li>          

<li class="mb-10 ms-4 mt-10">
  <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
  <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">February 2024</time>
  <h3 class="text-lg font-semibold text-gray-900 ">Testing, Documentation & Publishing to NPM
    <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 bg-slate-200 text-slate-700 px-2 py-1 rounded-md">documentation</span>

  </h3>
  <p class="text-base font-normal text-gray-500 dark:text-gray-400">@backplane-software/backplane-azure, -gcp and -aws for separation of concerns.</p>
</li>




  <li class="ms-4">
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
      <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">June - November 2023 (6 months)</time>
      <h3 class="text-lg font-semibold text-gray-900 ">Development of Prototype/MVP  
        <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-slate-900 text-slate-100 px-2 py-1 rounded-md">API</span>
      </h3>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        The MERN (Mongo, Express, React & Node.JS) stack was chosen for speed of prototyping. 
      </p>

      <details class="mt-5">
        <summary class="underline text-blue-700">Complete</summary>
    <ol class="relative border-s border-gray-200 dark:border-gray-700">
        <li class="ms-8 mt-5">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">May 2023</time>
          <h3 class="text-md font-semibold text-gray-900 ">API Data Model Design
            <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-sky-500 text-slate-100 px-2 py-1 rounded-md">design</span>

          </h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">Implemented /org /platform /product /app in backend and CLI</p>
        </li> 

        <li class="ms-8 mt-5">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">May 2023</time>
          <h3 class="text-md font-semibold text-gray-900 ">Authentication Middleware (AuthN)
            <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 bg-slate-200 text-slate-700 px-2 py-1 rounded-md">middleware</span>

          </h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">Implemented BCrypt and JWT tokens for Authentication middleware and /users endpoint</p>
        </li>
        <li class="ms-8 mt-5">          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">June 2023</time>
          <h3 class="text-md font-semibold text-gray-900 ">Command Line Interface
            <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-slate-900 text-slate-100 px-2 py-1 rounded-md">CLI</span>
          </h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">Developed CLI with Node.JS and Commander for Linux, Mac and Windows</p>
        </li>
        <li class="ms-8 mt-5">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">July 2023</time>
          <h3 class="text-md font-semibold text-gray-900 ">Account Provisioning
            <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-yellow-500 text-slate-100 px-2 py-1 rounded-md">integration</span>

          </h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">Implemented Azure and GCP</p>
        </li>
        <li class="ms-8 mt-5">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">August 2023</time>
          <h3 class="text-md font-semibold text-gray-900 ">Authorization Middleware (AuthZ)
            <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 bg-slate-200 text-slate-700 px-2 py-1 rounded-md">middleware</span>

          </h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">Implemented AuthZ Middleware to provide RBAC. API endpoints added: /teams /roles /assignments</p>
        </li>

        <li class="ms-8 mt-5">          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">August 2023</time>
          <h3 class="text-md font-semibold text-gray-900 ">Approval Workflow Engine
            <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-purple-900 text-slate-100 px-2 py-1 rounded-md">feature</span>

          </h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">For business processes of Approval - Implemented /requests /services</p>
        </li>
        <li class="ms-8 mt-5">          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">August 2023</time>
          <h3 class="text-md font-semibold text-gray-900 ">App Templates
            <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-purple-900 text-slate-100 px-2 py-1 rounded-md">feature</span>
          </h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">Controlling environments created and services onboarded e.g. Sandbox has no Repo, Production contains Test/Dev environments and Github Repo</p>
        </li>
        <li class="ms-8 mt-5">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">September 2023</time>
          <h3 class="text-md font-semibold text-gray-900 ">Open API (Swagger)
            <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 bg-slate-200 text-slate-700 px-2 py-1 rounded-md">documentation</span>

          </h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">Implemented /org /platform /product /app in backend and CLI</p>
        </li>
        <li class="ms-8 mt-5">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">September 2023</time>
          <h3 class="text-md font-semibold text-gray-900 ">Logging
            <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 bg-slate-200 text-slate-700 px-2 py-1 rounded-md">middleware</span>

          </h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">Implemented Logtail / Betterstack logging provider</p>
        </li>
        <li class="ms-8 mt-5">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">September 2023</time>
          <h3 class="text-md font-semibold text-gray-900 ">Access & Policy 
            <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-yellow-500 text-slate-100 px-2 py-1 rounded-md">integration</span>

          </h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">Azure & GCP Access & Policy retrieval</p>
        </li>
        <li class="ms-8 mt-5">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">October 2023</time>
          <h3 class="text-md font-semibold text-gray-900 ">AWS
            <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-yellow-500 text-slate-100 px-2 py-1 rounded-md">integration</span>

          </h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">Account provisioning, Access & Policy retrieval</p>
        </li>

        <li class="ms-8 mt-5">          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">October 2023</time>
          <h3 class="text-md font-semibold text-gray-900 ">Service Integration
            <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-purple-900 text-slate-100 px-2 py-1 rounded-md">feature</span>

          </h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">/services endpoint added for service onboarding</p>
        </li>
        <li class="ms-8 mt-5">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">November 2023</time>
          <h3 class="text-md font-semibold text-gray-900 ">Cost Sync Engine
            <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-lime-600 text-slate-100 px-2 py-1 rounded-md">finops</span>

          </h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">Cost Sync Propagation from App to Product to Platform to Org</p>
        </li>
        <li class="ms-8 mt-5">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Nov 2023</time>
          <h3 class="text-md font-semibold text-gray-900 ">Budget Management
            <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-lime-600 text-slate-100 px-2 py-1 rounded-md">finops</span>

          </h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">Set Org Budget, request workflow for Platform and Product Budgets</p>
        </li>
        <li class="ms-8 mt-5">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">July 2024</time>
          <h3 class="text-md font-semibold text-gray-900 ">Oracle Cloud
            <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-yellow-500 text-slate-100 px-2 py-1 rounded-md">integration</span>

          </h3>
          <p class="text-base font-normal text-gray-500 dark:text-gray-400">Account provisioning (i.e. compartments)</p>
        </li>
      </ol>

      </details>
      <details class="mt-5 mb-5">
        <summary class="underline text-blue-700">Backlog</summary>
        <ol class="relative border-s border-gray-200 dark:border-gray-700">
          <li class="ms-8 mt-5">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">TBA</time>
            <h3 class="text-md font-semibold text-gray-900 ">Alibaba Cloud
              <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-yellow-500 text-slate-100 px-2 py-1 rounded-md">integration</span>
  
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Account provisioning, Access & Policy retrieval</p>
          </li>
          <li class="ms-8 mt-5">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">TBA</time>
            <h3 class="text-md font-semibold text-gray-900 ">Oracle Cloud
              <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-yellow-500 text-slate-100 px-2 py-1 rounded-md">integration</span>
  
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Account provisioning, Access & Policy retrieval</p>
          </li>
          <li class="ms-8 mt-5">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">TBA</time>
            <h3 class="text-md font-semibold text-gray-900 ">Digital Ocean
              <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-yellow-500 text-slate-100 px-2 py-1 rounded-md">integration</span>
  
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Account provisioning, Access & Policy retrieval</p>
          </li>
          <li class="ms-8 mt-5">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">TBA</time>
            <h3 class="text-md font-semibold text-gray-900 ">Private Cloud
              <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-yellow-500 text-slate-100 px-2 py-1 rounded-md">integration</span>
  
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Account provisioning, Access & Policy retrieval</p>
          </li>
          <li class="ms-8 mt-5">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">TBA</time>
            <h3 class="text-md font-semibold text-gray-900 ">Policy Exemption Management
              <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-purple-900 text-slate-100 px-2 py-1 rounded-md">feature</span>
  
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Raise Request for exemption from Policy and put in place exemption</p>
          </li>
          <li class="ms-8 mt-5">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">TBA</time>
            <h3 class="text-md font-semibold text-gray-900 ">RBAC Proxy
              <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-purple-900 text-slate-100 px-2 py-1 rounded-md">feature</span>
  
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Add and Remove RBAC assignments across cloud platforms</p>
          </li>
          <li class="ms-8 mt-5">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">TBA</time>
            <h3 class="text-md font-semibold text-gray-900 ">Cloud Graph
              <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-purple-900 text-slate-100 px-2 py-1 rounded-md">feature</span>
  
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Universal Cloud Graph for Resource querying</p>
          </li>
          <li class="ms-8 mt-5">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">TBA</time>
            <h3 class="text-md font-semibold text-gray-900 ">Extension Marketplace
              <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-purple-900 text-slate-100 px-2 py-1 rounded-md">feature</span>
  
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Community Extensions to augment Backplane</p>
          </li>
          <li class="ms-8 mt-5">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">TBA</time>
            <h3 class="text-md font-semibold text-gray-900 ">Cost Optimisation Engine
              <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-purple-900 text-slate-100 px-2 py-1 rounded-md">feature</span>
  
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Community Extensions to augment Backplane</p>
          </li>
          <li class="ms-8 mt-5">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">TBA</time>
            <h3 class="text-md font-semibold text-gray-900 ">Platform-Level Cloud Credentials
              <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-green-500 text-slate-100 px-2 py-1 rounded-md">enhancement</span>
  
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Cloud Credentials are set at Org level. Platform Level aligns to least privilege.</p>
          </li>
          <li class="ms-8 mt-5">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">TBA</time>
            <h3 class="text-md font-semibold text-gray-900 ">Cost Extraction Engine
              <span class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-sky-500 text-slate-100 px-2 py-1 rounded-md">design</span>
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">Extraction, Transform and Load (ETL) of Cost Data from Cloud Service Provider and aligned to FinOps FOCUS spec.</p>
        </li> 

      </details>
  </li>
  
<li class="mb-10 ms-4">
  <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
  <time class="mb-1 text-md font-normal leading-none text-gray-400 dark:text-gray-500">May 2023</time>
  <h3 class="text-lg font-semibold text-gray-900 ">Project Backplane accepted for Microsoft for Startups incubation hub</h3>
  <p class="mb-0 text-base font-normal text-gray-500 dark:text-gray-400">
    Backplane was founded and the following domains registered: 
    <span class=" mt-0.5 leading-none text-[13px] ml-1 bg-slate-200 text-slate-900 px-2 py-1 rounded-md">backplane.software</span>
    <span class=" mt-0.5 leading-none text-[13px] ml-1 bg-slate-200 text-slate-900 px-2 py-1 rounded-md">backplane.cloud</span>
    <span class=" mt-0.5 leading-none text-[13px] ml-1 bg-slate-200 text-slate-900 px-2 py-1 rounded-md">getbackplane.io</span>
    <span class=" mt-0.5 leading-none text-[13px] ml-1 bg-slate-200 text-slate-900 px-2 py-1 rounded-md">backplane.dev</span>

  
</p>
 
</li>
</ol>
    
    </div>
    
  </Container>
</Layout>
