---
// @ts-ignore
import { Icon } from "astro-icon/components";
import Logos from "@components/logos.astro";

const benefits = [


  {
    title: "Avoid Lock-in",
    description:
      "Easily connect your Cloud Service Providers and deploy your workloads seamlessly, with the flexibility to move them between platforms effortlessly.",
    icon: "bx:bxs-lock-open-alt",

  },
  {
    title: "Drive Cost Efficiency",
    description:
      "Cloud is about delivering value and optimising cloud spend. Backplane's API offers complete cost visibility across workloads and cloud platforms, ensuring you maximize the value of your cloud investment",
    icon: "bx:bx-line-chart-down",

  },
  {
    title: "Optimise Workload Placement",
    description:
      "Deploy your workload in the most effective Cloud Platform to meet your business requirements.",
    icon: "bx:bx-current-location",

  },
  

]

---
 
<div class="mt-16 md:mt-0 p-0">
  <div>
    <h2 class="text-4xl lg:text-4xl font-bold lg:tracking-tight" id="benefits">
    Simplifying Multi-Cloud adoption
      </h2>
      <p class="text-lg mt-5 text-slate-600">
        Adopting, Enabling and Governing multiple cloud platforms at scale is complex. Backplane's Cloud Abstraction API provides an 'engine' to drive your adoption, enablement and governance strategy, so you can leverage cloud platforms and consume them efficiently, securely and quickly.

      </p>
    </div>    
  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-8 gap-16">

    { benefits.map((benefit) => (
      <div class="ml-0 grid sm:grid-cols-2 md:grid-cols-1 mt-8 gap-16 w-96">
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-indigo-700 rounded-full  p-2 w-12 h-12 shrink-0">
            <Icon class='text-slate-100 w-8 h-8' name={benefit.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{benefit.title}</h3>
            <p class="text-slate-500 mt-2 leading-relaxed">{benefit.description}</p>
          </div>
        </div>
      </div>
    ))}
    
  </div>
  <div class="w-full justify-center flex">
    <a href="/benefits" class="inline-flex items-center mt-5 px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 ">View all benefits <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
    </svg></a>
  </div>

</div>
