---


import { Picture } from "astro:assets";
import platformengineeringlogo from "assets/platformlogo.svg";
import opentofulogo from "assets/opentofu.svg";
import finopslogo from "assets/finopsfoundation.svg";
---

<div class="mt-16 w-full">
  <div class="mt-10 flex sm:flex-row gap-3 justify-center">
    <h2 class="text-xl font-semibold">Supporting the Open Source community</h2>
    
  </div>
  <div class="flex gap-20 mt-10 mb-20 justify-center">
      <div>
        <Picture
        src={platformengineeringlogo}
        alt="Backplane UI and CLI"
        widths={[50, 100, 150]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
        class="w-48"
      />
      </div>
      <div>      <Picture
        src={opentofulogo}
        alt="Backplane UI and CLI"
        widths={[50, 100, 150]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
        class="w-48"
      /></div>
      <div>      <Picture
        src={finopslogo}
        alt="Backplane UI and CLI"
        widths={[50, 100, 150]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
        class="w-48"
      /></div>
    </div>
</div>