.featureCard {
  height: 200px;
  width: 200px;
  background: #eff2f6;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  font-size: 0.5rem;
  /* color: #2a7fff; */
}

.featureCard .title {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: bold;
  /* height: 50px; */
}

.featureCard .description {
  font-size: 0.8rem;
  line-height: 1.6rem;
  margin-top: 10px;
  text-align: left;
}

[data-theme="dark"] .featureCard {
  color: #fff;
  background: #23262a;
}

.featureSvg {
  height: 250px;
  width: 250px;
  padding: 40px;
  border-radius: 10px;
  color: #2a7fff;
}

@media screen and (max-width: 996px) {
  .featureCard {
    height: auto;
    width: auto;
    background: #eff2f6;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    font-size: 0.5rem;
    /* color: #2a7fff; */
  }
}
