---
// @ts-ignore
import { Icon } from "astro-icon/components";
import Benefits from "@components/benefits.astro";


const features = [
  {
    title: "Cloud Account Vending",
    description:
      "Create your Apps with Azure Subscriptions, GCP Projects, AWS Accounts or OCI compartments",
    icon: "bx:bxs-cloud",

  },
  {
    title: "Access Manager",
    description:
      "View all RBAC access in a standarised data shape so you can effective govern privilege across your cloud estate.",
    icon: "bx:bxs-user-check",
  },
  {
    title: "Policy Manager",
    description:
      "Full visibility of resource policies across your cloud platforms",
    icon: "bx:bxs-check-shield",
  },
  {
    title: "Service Catalog",
    description:
      "Provides a single source of truth that enables service discovery for all workloads ",
    icon: "bx:bxs-data",
    colour: "text-slate-900 w-8 h-8"

  },
  {
    title: "Platform Manager",
    description:
      "Platforms are the management container for Products, setting the Platform Budget, approval requests all happens at the Platform level",
    icon: "bx:bxs-layer",
    colour: "text-slate-900 w-8 h-8"

  },

  {
    title: "Cost Budget Management",
    description:
      "Backplane support Cost Budget Management out-of-the-box",
    icon: "bx:bxs-bank",
    colour: "text-slate-900 w-8 h-8"

  },

  
  {
    title: "Approval Workflows",
    description:
      "Products requesting Budget from parent platform, or Platform requesting budget from Org, the Approval Workflow engine ensures all cost is approved and owned.",
    icon: "bx:bxs-cog",
    colour: "text-indigo-700 w-8 h-8"

  },
    {
    title: "Service Connectors",
    description:
      "Add Services to Backplane is easily, e.g. Add Github service so that when a Product is created a Github Repo is automatically provisioned!",
    icon: "bx:bxs-plug",
    colour: "text-indigo-700 w-8 h-8"

  },
  {
    title: "App Templates",
    description:
      "Create custom App templates for Production and Sandbox environments that onboard different services.",
    icon: "bx:bxs-copy",
    colour: "text-indigo-700 w-8 h-8"

  },
  {
    title: "Command Line Interface (CLI)",
    description:
      "Backplane ships with a fully featured CLI to aid in engineering automation scenarios.",
    icon: "bx:bxs-terminal",
    colour: "text-slate-900 w-8 h-8"

  },
    
    {
    title: "Cloud Console",
    description:
      "Lightweight UI leveraging HTMX for a SPA-experience to Cloud Management",
    icon: "bx:bxs-window-alt",
    colour: "text-indigo-700 w-8 h-8"
  },
];
---
<div class="mt-16 md:mt-0">
 
  <Benefits />
  
</p>
</div>
<div class="mt-16 md:mt-16">
  <h2 class="text-4xl lg:text-4xl font-bold lg:tracking-tight" id="features">
    Features
    <!-- The Cloud Simplification Engine. Features: -->
  </h2>
  <p class="text-lg mt-5 text-slate-600">
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-gray-200 rounded-full  p-2 w-12 h-12 shrink-0">
          <Icon class={item.colour ? item.colour : 'text-slate-900 w-8 h-8'} name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
<div class="w-full justify-center flex">
  <a href="blog/quick-start/" class="inline-flex items-center mt-5 px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 ">Get Started <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
  </svg></a>
</div>
