---
import microsoft from "assets/microsoft.png";
import { Picture } from "astro:assets";
---

<footer class="py-14 bg-slate-100 border-t border-slate-100 mt-10">
  <div class="max-w-screen-xl mx-auto px-5">
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
      <div class="sm:col-span-2 md:col-span-3 lg:col-span-2">
        <a href="/" class="text-lg flex items-center">
          <span class="font-bold text-slate-900 font-[Orbitron]"
            >Backplane</span
          >
          <span
            class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-slate-900 text-slate-100 px-2 py-1 rounded-md"
            >DEV</span
          >
        </a>
        <p class="mt-4 text-xs text-slate-700 max-w-xs">
          Backplane.dev is an Open Source project from Backplane Software Ltd. (15079797) Registered in the United Kingdom.
        </p>
        <div class="flex gap-3 mt-0 items-center">
          <Picture
          src={microsoft}
          alt="Backplane UI and CLI"
          widths={[200, 400, 600]}
          sizes="(max-width: 800px) 100vw, 620px"
          loading="eager"
          format="avif"
          class="rounded-xl w-36"
        />
        </div>
      </div>

      <div>
        <h3 class="font-medium text-sm text-slate-800">Company</h3>
        <div class="flex flex-col mt-3">
          <a
            href="/about"
            class="py-2 text-sm text-slate-600 hover:text-indigo-600">
            About </a
          >
      <a
            href="/careers"
            class="py-2 text-sm text-slate-600 hover:text-indigo-600">
            Careers </a
          >
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">Product</h3>
        <div class="flex flex-col mt-3">
         <a
            href="/#features"
            class="py-2 text-sm text-slate-600 hover:text-indigo-600">
            Features</a><a
            href="/benefits"
            class="py-2 text-sm text-slate-600 hover:text-indigo-600">
            Benefits </a
          >
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">Resources</h3>
        <div class="flex flex-col mt-3">
          <a href="#" class="py-2 text-sm text-slate-600 hover:text-indigo-600">
            Open API Specification </a
          ><a
            href="/blog"
            class="py-2 text-sm text-slate-600 hover:text-indigo-600">
            Documentation </a
          >
          <a
            href="https://backplane-dev.slack.com/archives/C06N48MBUD9"
            target="_blank"
            class="py-2 text-sm text-slate-600 hover:text-indigo-600">
            Slack </a
          >
        </div>
      </div>
    </div>
  </div>

</footer>
