---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.svg";

import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block w-2/3">
    <Picture
      src={heroImage}
      alt="Backplane UI and CLI"
      widths={[100, 200, 300]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
      class="rounded-xl"
    />
  </div>
  
    
  
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Backplane.
    </h1>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Free. Open Source
    </h1>
    <h2 class="text-4xl font-bold text-indigo-700 mt-5">Cloud Abstraction API</h2>

    <p class="text-lg mt-5 leading-9 text-slate-600 max-w-xl">
      Free and Open Source Cloud Abstraction API simplifies <span class='text-slate-900 font-bold'>Multi-Cloud Account Provisioning</span> and the retrieval of <span class='text-slate-900 font-bold'>Cost</span>, <span class='text-slate-900 font-bold'>Access</span> and <span class='text-slate-900 font-bold'>Policy</span> data. 
   
    </p>
    <div class="mt-6 flex justify-center flex-col sm:flex-row gap-5">
      

      <Link
        href="#"
        href="/docs/quick-start"
        target=""
        class="flex gap-1 items-center justify-center bg-indigo-700"
        rel="noopener">
        <Icon class="text-white w-6 h-6" name="bx:bx-code" />
        Quick Start
      </Link>

      <Link
        size="lg"
        href="https://demo.backplane.dev"
        target="_blank"
        class="flex gap-1 items-center justify-center bg-slate-900"
        rel="noopener">
        <Icon class="text-slate-100 w-6 h-6" name="bx:bx-cloud" />
        Try it out
      </Link>
      
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/backplane-cloud/backplane"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-6 h-6" name="bx:bxl-github" />
         GitHub Repo
      </Link>


    </div>

    

   
  </div>
</main>
