---
// @ts-ignore
// import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";

import azure from "/src/assets/azure.svg";
import gcp from "/src/assets/gcp.svg";
import aws from "/src/assets/aws.svg";
import oci from "/src/assets/oci.svg";

---

<div class="mt-16 w-full">
  <div class="mt-10 flex sm:flex-row gap-3 justify-center">
    <h2 class="text-xl font-semibold">Major Cloud Platforms supported and ready to go</h2>
    
  </div>
  <div class="flex gap-10 mt-10 justify-center">
    <div >
      <Picture
        src={azure}
        alt="Microsoft Azure"
        widths={[200, 400, 600]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
        class="w-18"
      />
    </div>
    <div>
      <Picture
        src={gcp}
        alt="Google Cloud Platform"
        widths={[200, 400, 600]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
        class="w-18"
      />
    </div>
    <div>
      <Picture
        src={aws}
        alt="Amazon Web Services"
        widths={[200, 400, 600]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
        class=" w-18"
      />
    </div>
    <div>
      <Picture
      src={oci}
      alt="Oracle Cloud Infrastructure"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
      class="w-18"
    />
    </div>
    
    
   
    
    
    
  </div>
  

</div>
