---
// @ts-ignore
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";

import azure from "assets/azure-logo.png";
import gcp from "assets/gcp-logo.png";
import aws from "assets/aws-logo.png";
import alibaba from "assets/alibaba-logo.png";
import digitalocean from "assets/digitalocean-logo.png";
import oci from "assets/oci.png";

---

<div class="mt-16 w-full">
  <div class="mt-10 flex sm:flex-row gap-3 justify-center">
    <h2 class="text-xl font-semibold">Simply connect to your Cloud Platforms and go!</h2>
    
  </div>
  <div class="flex gap-10 mt-5 justify-center">
    <img src="/src/assets/azure.svg" />
    <img src="/src/assets/gcp.svg" />
    <img src="/src/assets/aws.svg" />
    <img src="/src/assets/oci.svg" />
    
  </div>
  

</div>
